*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding: 40px;
    margin: auto;
}
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}
.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 50px;
}
/* profile section*/
.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width:120px ;
    border-radius: 70px;
    border: 1px solid #3a3a3a;
    
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 1px;
    color: #FFBF00;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
/* contact information */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;

}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: None;
}
.email,.phone{
    margin-bottom: 15px;
}
/* social media */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}.social img{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;  
}
.social img:hover{
    filter:grayscale(0) invert(0);
}
/* main content */
/* navigation */
#navigation{
    border-bottom: 2px solid#3a3a3a;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
   
}
nav a{
    text-decoration: none;
    color:#a0a0a0 ;
    font-weight: 500;
    
}
.active,nav a:hover{
    color: #FFBF00;
    transition: color 0.3s ease;
}
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 80px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
}
#about{
    margin-bottom: 40px;
}
/* skill section */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;   
}
.item{
    padding: 20px;
    border-radius: 10px;
    border:2px solid #3a3a3a ;
    background-color: #1e1e1e;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.item img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3) ;
}
/* Education */
#education{
    margin-top: 30px;
}
.edtech{
    position: relative;
    margin-top: 20px;

}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.recent-education, .pre-recent-education{
    margin-bottom: 30px;
    padding-left: 30px;
    position: relative;
}
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 5px solid #FFBF00;
    position: absolute;
    top: 2px;
    z-index:5 ;
    left: 0px;
}
.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}

/* portfolio */
/* Grid Layout */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* Project Card */
.project {
    background-color: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #333;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}

/* Image */
.project img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Card Content */
.project .card {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

/* Title */
.card h3 {
    color: #e0e0e0;
    font-size: 18px;
    font-weight: 600;
}

/* Description */
.card p {
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Tag Container */
.tags {
    display: flex;
    flex-wrap: wrap;    /* if many tags, they wrap to next line */
    gap: 6px;
}

/* Individual Tags */
.tags span,a {
    background-color: rgba(255,191,0,0.1);
    color: #FFBF00;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    display: inline-block; /* makes tag adjust to content */
    white-space: nowrap;
    text-decoration: none;   /* keeps tag text in one line */
}
.h3-link {
    all:unset;
    text-decoration: none;   /* removes underline */
    color: inherit;          /* same color as the h3 heading */
    font-weight: inherit;    /* same boldness as h3 */
}
.h3-link:hover {
    cursor:pointer;
    color:  #a0a0b1;             /* small hover effect (optional) */
}
